{% load staticfiles %}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Home | Gists.io</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.css">
    {% comment %}<link rel="stylesheet" href="static/whhg-font/css/whhg.css">{% endcomment %}
    <link rel="stylesheet" href="{% static "whhg-font/css/whhg.css" %}">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- endbuild -->
</head>
<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Core Info</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav> <!-- end nav -->

    <main class="ui page grid">
        <div class="row" id="sys0">
            <div class="aligned starter column">

                <span><i class="icon-cpu-processor"></i></span>
                <span class="ui header" id="cpu-brand0">cpu</span>



                    <p>
                    <div class="ui teal progress small" id="sys0-core0">
  <div class="bar">
    <div class="progress "></div>
  </div>
  <div class="label">core0</div>
</div>

    <div class="ui blue progress small" id="sys0-core1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core1</div>
</div>

 <div class="ui green progress small" id="sys0-core2">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core2</div>
</div>

 <div class="ui orange progress small" id="sys0-core3">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core3</div>
</div>


                </p>


                 <div class="ui black progress " id="memory-percent0">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Memory percentage</div>
</div>
            </div>
        </div>

        <div class="row" id="sys1">
            <div class="aligned starter column">
                <span><i class="icon-cpu-processor"></i></span>
                <span class="ui header" id="cpu-brand1">cpu</span>

                <p>
                    <div class="ui teal progress small" id="sys1-core0">
  <div class="bar">
    <div class="progress "></div>
  </div>
  <div class="label">core0</div>
</div>

    <div class="ui blue progress small" id="sys1-core1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core1</div>
</div>

 <div class="ui green progress small" id="sys1-core2">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core2</div>
</div>

 <div class="ui orange progress small" id="sys1-core3">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core3</div>
</div>

 <div class="ui red progress small" id="sys1-core4">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core4</div>
</div>
 <div class="ui purple progress small" id="sys1-core5">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core5</div>
</div>
 <div class="ui yellow progress small" id="sys1-core6">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core6</div>
</div>
 <div class="ui pink progress small" id="sys1-core7">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core7</div>
</div>
                </p>

                 <div class="ui black progress " id="memory-percent1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Memory percentage</div>
</div>
            </div>
        </div>
    </main>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript">
        $(function() {
            function changeProgress(){          
                $.getJSON("/json",{}, function( data ){

                    $( data ).each(function( index ) {

                         $('#cpu-brand'+index).text(data[index]['cpubrand']);
                        $('#memory-percent'+index).progress({
                           percent: data[index]['memorypercent']
                        });
                   $( data[index]['cores'] ).each(function( coreIndex ) {
                         $('#sys'+index+'-core' + coreIndex).progress({
                           percent: data[index]['cores'][coreIndex]
                        });
                    });

                    });
                      });


                    {% comment %}$('#cpu-brand').text(data['cpubrand']);
                    $('#memory-percent').progress({
                           percent: data['memorypercent']
                        });
                    $( data['cores'] ).each(function( index ) {
                         $('#core' + index).progress({
                           percent: data['cores'][index]
                        });
                    });{% endcomment %}

            }
            setInterval( changeProgress , 2000);         
        });

    </script>
</body>
</html>
