{% load staticfiles %}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Home | Gists.io</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.css">
    {% comment %}<link rel="stylesheet" href="static/whhg-font/css/whhg.css">{% endcomment %}
    <link rel="stylesheet" href="{% static "whhg-font/css/whhg.css" %}">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- endbuild -->
</head>
<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Core Info</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav> <!-- end nav -->

    <main class="ui page grid">
        <div class="row" id="sys0">
            <div class="aligned starter column">

                 <span><i class="icon-server"></i></span>
                <span class="ui header" id="platform0">platform</span>
                <br>
                <span><i class="icon-cpu-processor"></i></span>
                <span class="ui header" id="cpu-brand0">cpu</span>
                 <br>
                <span><i class="icon-gpu-graphicscard"></i></span>
                <span class="ui header" id="gpu-brand0">gpu</span>



                    <p id="cores-0">
                    <div class="ui teal progress small" id="sys0-core0">
  <div class="bar">
    <div class="progress "></div>
  </div>
  <div class="label">core0</div>
</div>

                </p>

                <div>
                         <div class="ui red progress tiny" id="sys0-coretemp0">
  <div class="bar">
 {% comment %}   <div class="progress "></div>{% endcomment %}
  </div>
  <div class="label">core0</div>
</div>
                </div>

                <span><i class="icon-ram"></i></span>
                <span class="ui header" id="ram-total0"></span>
                 <div class="ui black progress " id="memory-percent0">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Memory percentage</div>
</div>




            </div>
        </div>

        <div class="row" id="sys1">
            <div class="aligned starter column">
                <span><i class="icon-server"></i></span>
                <span class="ui header" id="platform1">platform</span>
                <br>
                <span><i class="icon-cpu-processor"></i></span>
                <span class="ui header" id="cpu-brand1">cpu</span>
                <br>
                <span><i class="icon-gpu-graphicscard"></i></span>
                <span class="ui header" id="gpu-brand1">gpu</span>

                <p id="cores-1">
                    <div class="ui teal progress small" id="sys1-core0">
  <div class="bar">
    <div class="progress "></div>
  </div>
  <div class="label">core0</div>
</div>
                </p>

                   <div>
                         <div class="ui indicating progress tiny" id="sys1-coretemp0">
  <div class="bar">
   {% comment %} <div class="progress "></div>{% endcomment %}
  </div>
  <div class="label">core0</div>
</div>
                </div>

     <span><i class="icon-ram"></i></span>
                <span class="ui header" id="ram-total1"></span>
                 <div class="ui black progress " id="memory-percent1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Memory percentage</div>
</div>
            </div>
        </div>
    </main>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript">
        $(function() {
            function changeProgress(){          
                $.getJSON("/json",{}, function( data ){

                    $( data ).each(function( index ) {

                        $('#cpu-brand'+index).text(data[index]['cpubrand']);
                        $('#gpu-brand'+index).text(data[index]['gpuname']);
                        $('#platform'+index).text(data[index]['platform'] + data[index]['platformrelease'] + ' ' + data[index]['platformname']);

                        $('#ram-total'+index).text('Memory:' + data[index]['memorytotal'] + 'MB');
                        $('#memory-percent'+index).progress({
                           percent: data[index]['memorypercent']
                        });
                   $( data[index]['cputempcores'] ).each(function( coreIndex ) {

                       if ($('#sys'+index+'-coretemp' + coreIndex).length){
                         $('#sys'+index+'-coretemp' + coreIndex+' div:nth-child(2)').html('core'+coreIndex+ ' - ' + data[index]['cputempcores'][coreIndex]+'℃');
                         $('#sys'+index+'-coretemp' + coreIndex).progress({
                           percent: data[index]['cputempcores'][coreIndex]

                        });
                           }
                       else{
                           var coreAfter = parseInt(coreIndex)-1;
                           $( '#sys1-coretemp0' ).clone().prop({ id: "sys"+index+"-coretemp"+coreIndex}).insertAfter('#sys'+index+'-coretemp'+ coreAfter );
                           $('#sys'+index+'-coretemp' + coreIndex+' div:nth-child(2)').html('core'+coreIndex+ ' - ' + data[index]['cputempcores'][coreIndex]+'℃');
                            $('#sys'+index+'-coretemp' + coreIndex).progress({
                         percent: data[index]['cputempcores'][coreIndex]
                        });
                       }
                    });

                           $( data[index]['cores'] ).each(function( coreIndex ) {

                       if ($('#sys'+index+'-core' + coreIndex).length){

                         $('#sys'+index+'-core' + coreIndex).progress({
                           percent: data[index]['cores'][coreIndex]
                        });
                           }
                       else{
                           var coreAfter = parseInt(coreIndex)-1;
                           $( '#sys1-core0' ).clone().prop({ id: "sys"+index+"-core"+coreIndex}).insertAfter('#sys'+index+'-core'+ coreAfter );
                           $('#sys'+index+'-core' + coreIndex+' div:nth-child(2)').html('core'+coreIndex);
                            $('#sys'+index+'-core' + coreIndex).progress({
                           percent: data[index]['cores'][coreIndex]
                        });
                       }
                    });

                    });
                      });
            }
            setInterval( changeProgress , 2000);         
        });

    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27987341-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
