<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Home | Gists.io</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="main.css">
    <!-- endbuild -->
</head>
<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Core Info</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav> <!-- end nav -->

    <main class="ui page grid">
        <div class="row">
            <div class="center aligned starter column">
                <h1 class="ui header">Intel core i7 4700HQ</h1>
                <p>
                    <div class="ui teal progress" id="core0">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core0</div>
</div>

    <div class="ui blue progress" id="core1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core1</div>
</div>

 <div class="ui green progress" id="core2">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core2</div>
</div>

 <div class="ui orange progress" id="core3">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core3</div>
</div>

 <div class="ui red progress" id="core4">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core4</div>
</div>
 <div class="ui purple progress" id="core5">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core5</div>
</div>
 <div class="ui yellow progress" id="core6">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core6</div>
</div>
 <div class="ui pink progress" id="core7">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">core7</div>
</div>
                </p>
            </div>
        </div>
    </main>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/semantic.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript">
        $(function() {
            function changeProgress(){          
                $.getJSON("/json",{}, function( data ){ 
                    $( data ).each(function( index ) {                        
                         $('#core' + index).progress({                           
                           percent: data[index]
                        });
                    });
                });                                 
            }
            setInterval( changeProgress , 2000);         
        });
    </script>
</body>
</html>
